<html>
    <body>
        <h1>ProgIV - BookStore with .NET CORE</h1>
		<div class="col-lg-12 col-md-12">
			<img src="https://media.npr.org/assets/img/2015/09/16/book-awards-istock_wide-4b6d56267f08f753f19306235837883651a1a465.jpg?s=1400" />
		</div>
    </body>
</html>